<form action="#/createComment" method="post" class="submitForm">
    <label>Content:</label>
    <input id="cmtContent" name="content" type="text">
    <input type="submit" value="Post Comment">
</form>