<form action="#/createPost" method="post" class="submitForm">
    <label>Link URL:</label>
    <input name="url" type="text">
    <label>Link Title:</label>
    <input name="title" type="text">
    <label>Link Thumbnail Image (optional):</label>
    <input name="image" type="text">
    <label>Description (optional):</label>
    <textarea name="description"></textarea>
    <input type="submit" value="Create Post">
</form>