<article class="post">
    <div class="col thumbnail">
        <img src="{{imageUrl}}">
    </div>
    <div class="post-content">
        <div class="title">
            <strong>{{title}}</strong>
        </div>
        <div class="details">
            {{description}}
        </div>
    </div>
</article>