<form id="formSubmitChirp" class="chirp-form" method="POST" action="#/createChirp">
    <textarea name="text" class="chirp-input"></textarea>
    <input class="chirp-submit" id="btnSubmitChirp" value="Chirp" type="submit">
</form>